#crosshair
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #1ed1d1;
    box-shadow: 
    0 -22px 0 #1ed1d1,
    0 22px 0 #1ed1d1,
    -22px 0 0 #1ed1d1,
    22px 0 0 #1ed1d1;
    z-index: 9999;
    visibility: visible;
}

body {
    margin: 0; 
    padding: 0;
    overflow: hidden; 
}

html {
    overflow: hidden;
}

.webgl {
    position: fixed; 
    top: 0;
    left: 0;
    outline: none; 
    z-index: 0;
}

#deathscreen
{
    position: fixed;
    top: 70%;
    left: 25%;
    width: 50%;
    height: 17%;
    background-color: rgb(22, 155, 232);
    border-top-left-radius: 5px;
    visibility: hidden;
    z-index: 1;
}

#deathscreenplay
{
    position: absolute;
    top: 60%;
    left: 25%;
    width: 50%;
    height: 30%;
    background-color: rgb(232, 22, 22);
    border-radius: 5px;
    z-index: 2;
}

#healthbar
{
    position: fixed;
    top: 91.5%;
    left: 34.75%;
    width: 35%;
    background-color: rgb(13, 16, 32, 0.8);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline-width: 1px;
    outline-color: white;
    outline-style: solid;
    visibility: visible;
    z-index: 1;
    aspect-ratio: 10 / 1;
}

#whitehp
{
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    background-color: rgb(185, 185, 185);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    visibility: visible;
    z-index: 1.5;
    opacity: 1;
}

#actualhp
{
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    background-color: rgb(214, 52, 111);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    visibility: visible;
    z-index: 2;
    opacity: 1;
}

#heart
{
    position: fixed;
    top: 91.5%;
    left: 30.75%;
    width: 3.5%;
    background-image: url('./Images/pixelHeart2.webp');
    background-position: 50% 50%; 
    aspect-ratio: 1 / 1;
    background-size: 200% 200%;
    z-index: 1;
    background-repeat: no-repeat;
}